---
import Wb from "../widgets/wb.astro"
import Layout from "../layouts/layout.astro"
import B1 from "../widgets/website-buttons.astro"
import B2 from "../widgets/website-buttons1.astro"
---
<Layout title="C2C - 404">
    <div slot="big">
        <marquee scrollamount="6" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();" direction="right" class="buttonsm">
            <Wb />
        </marquee>
        <h1>404 - Page Not Found</h1>
        <br>
        <a href="/">Go back home</a>
        <br>
        <br>
        <marquee scrollamount="6" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();" direction="left" class="buttonsm">
            <Wb />
        </marquee>
        <br>
        <br>
    </div>
</Layout>