---
import Layout from "../layouts/layout.astro"
---
<Layout title="C2C - Blog">
    <div slot="big">
    <style>
        ul {
            font-family: 'Roboto Mono', monospace;
            font-size: 17px;
            color: white;
        }
    </style>
        <h1>Blog Posts</h1>
        <ul>
           <li>-----<strong>No posts yet</strong>-----</li>
        </ul>
        <br><br><br><br><br><br>
    </div>
</Layout>