---
import Wb from "../widgets/wb.astro"
---
<title>C2C | Boring-Stuff </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Cris(aka Code2Craft)'s small corner on the web!">
<meta name="robots" content="noai, noimageai">
<link rel="stylesheet" type="text/css" href="/styles/style.css?v=1">
<link href="/media/img/icon.png" rel="icon" type="image/x-icon" />
<script src="/otherfiles/1.js" defer></script>
<a href="/">Go Back Home</a>
<h2>Boring-Stuff</h2>
<p>I(Code2Craft.xyz) am not affiliated with Code2Craft.com, Code2Craft Solutions, Code2Craft AI or any other company with a similar name in any way.</p>