---
import Layout from "../layouts/layout.astro"
---

<Layout title="C2C - Contact">
    <div slot="big">
        <style>
.container{
    background-color: #343333;
    padding: 6px;
    width: fit-content;
    border-color: white;
    border-style: dashed;
    border-radius: 10px;
    max-width: 500px; 
    margin-top: 10px;
}
        </style>
        <h2>Contact me through:</h2>
            <div class="container">
                <h3><a href="mailto:itsme@code2craft.xyz">Email: itsme [at] code2craft [dot] xyz</a></h3>
            </div>
            <div class="container">
                <h3>SHARP: code2craft#twoblade.com</h3>
                <h3>Mainly through <a href="https://twoblade.com">twoblade.com</a> but any SHRAP clients work I think</h3>
            </div>
            <div class="container">
                <h3><a href="https://discord.com/users/920617892444258305">Discord: Cris(@gamercristi11)</a></h3>
                <h3>Find me on: <a href="https://discord.gg/yaqzbDBaAA">Dimden's Hotel Discord Server</a><br>
                <a href="https://discord.gg/hvfHKyVS6b">Nekoweb Discord Server</a></h3>
            </div>
    </div>
</Layout>