---
import Layout from "../layouts/layout.astro"
---
<Layout title="C2C - Guestbook">
    <div slot="big">
            <style>
                iframe {
                width: 100%;
                height: 1200px;
                border: none;
            }
            </style>
        <iframe src="https://code2craft.atabook.org"></iframe>
    </div>
</Layout>