---
import Layout from "../layouts/layout.astro"
import Wb from "../widgets/wb.astro"
import Lf from "../widgets/lastfm.astro"
import Sc from "../widgets/statuscafe.astro"
import Ds from "../widgets/discords.astro"
---

<Layout>
  <div slot="side">
  <Lf />
<hr>
<Ds />
<hr>
<Sc />
<hr>
        <pre><a href="https://webring.nomaakip.xyz/webring?name=code2craft&to=prev"><-- Previous</a>   <a href="https://webring.nomaakip.xyz">Swagring</a>   <a href="https://webring.nomaakip.xyz/webring?name=code2craft&to=next">Next --></a></pre>
        <pre><a href="https://baccyflap.com/noai/?prv&s=ctc"><-- Previous</a>   <a href="https://baccyflap.com/noai">No AI Webring</a>   <a href="https://baccyflap.com/noai/?rnd">Random</a>   <a href="https://baccyflap.com/noai/?nxt&s=ctc">Next --></a></pre>
        <pre><a href="https://webring.bucketfish.me/redirect.html?to=prev&name=code2craft"><-- Previous</a>   <a href="https://webring.bucketfish.me">Bucket Webring</a>   <a href="https://webring.bucketfish.me/redirect.html?to=random&name=code2craft">Random</a>   <a href="https://webring.bucketfish.me/redirect.html?to=next&name=code2craft">Next --></a></pre>
        <pre><a href="https://webring.hackclub.com/"id="previousBtn" title="Previous">‹--</a>   <a href="https://webring.hackclub.com/" title="Hack Club Webring" alt="Hack Club Webring">HackClub Webring</a>   <a href="https://webring.hackclub.com/" id="nextBtn" title="Next">--></a></pre>
        <script src="https://cdn.jsdelivr.net/gh/hackclub/webring@d8004260e67f17633af5a64b05ac17ff871a509f/public/embed.min.js"></script>
        <a href="/webrings" target="_blank">See All Webrings</a>
  <hr>
  <h2>My Pets: </h2>
  <div class="tamanotchis">
  <div class="a">
  <a href="https://tamanotchi.world/29301c" target="_blank"><img src="https://tamanotchi.world/i/29301" alt="It's tamaNOTchi! Click to feed!"></a>
  </div>
  <div class="a">
  <a href="https://tamanotchi.world/29251c"><img src="https://tamanotchi.world/i/29251" alt="It's tamaNOTchi! Click to feed!"></a>
  </div>
  <div class="a">
  <a href="https://tamanotchi.world/29249c"><img src="https://tamanotchi.world/i/29249" alt="It's tamaNOTchi! Click to feed!"></a>
  </div>
  </div>
  <hr>
  <script type="text/javascript" src="https://counter.websiteout.com/js/2/7/0/0"></script>
  <hr>
  <a href="/boring-stuff">Boring legal stuff</a>
            <footer>
                <p id="footer" class="footer">© year Code2Craft.xyz</p>
            </footer>
            <script>
              const currentYear = new Date().getFullYear();
              document.getElementById('footer').textContent = `©${currentYear} Code2Craft.xyz`;
            </script>
  </div>
    <div slot="big">
    <p>
    <a href="https://code2craft.atabook.org/">GuestBook</a> | <a href="/ulogs">Update Logs</a></p>
    <hr>
    <div class="scroll1">
    <h2>About Me <span id="swatchClock" style="font-weight: normal;font-size:12px">@000</span></h2>
    <script defer src="https://melonking.net/scripts/swatchTime.js" client:only></script>
                <img src="/media/gifs/catblinkie.gif" alt="cat blinkie" width="150" height="20">
                <p>Hi, Im Cris(aka Code2Craft), a Romanian<img src="/media/gifs/roflag.gif" aria-label="romanian flag" height="13px" width="auto"> teen that want's to learn coding and has a little website online on the BIG World Wide Web.</p>
                <p>If you want to contact me, there are a few options:</p>
                <h3><a href="mailto:itsme@code2craft.xyz">Email: itsme [at] code2craft [dot] xyz</a></h3>
                <h3>SHARP: code2craft#twoblade.com</h3>
                <h3>Mainly through <a href="https://twoblade.com">twoblade.com</a> but any SHRAP clients work I think</h3>
                <h3><a href="https://discord.com/users/920617892444258305">Discord: Cris(@gamercristi11)</a></h3>
                <h3>Find me on: <a href="https://discord.gg/yaqzbDBaAA">Dimden's Hotel Discord Server</a><br>
                <a href="https://discord.gg/hvfHKyVS6b">Nekoweb Discord Server</a></h3>
                <br>
                <h2>My Buttons:</h2>
                <a href="https://code2craft.xyz"><img src="/media/buttons/b1.png" alt="Code2Craft dot xyz"></a>
                <textarea readonly><a href="https://code2craft.xyz" target="_blank"><img src="https://code2craft.xyz/media/buttons/b1.png" alt="Code2Craft dot xyz"></a></textarea>
                <br>
                <a href="https://code2craft.xyz"><img src="/media/buttons/b2.png" alt="Code2Craft dot xyz"></a>
                <textarea readonly><a href="https://code2craft.xyz" target="_blank"><img src="https://code2craft.xyz/media/buttons/b2.png" alt="Code2Craft dot xyz"></a></textarea>
    
  </div>
  </div>
  <div slot="neighbors">
  <h1 style="text-align: center;">Neighbors</h1>
  <Wb />
  </div>
</Layout>