---
import Layout from "../layouts/layout.astro"
import Scw from "../widgets/status-cafe.astro"
import Discords from "../widgets/discord-s.astro"
import UpdateLogs from "../widgets/updatelog.astro"
import Wb from "../widgets/wb.astro"
import Lastfm from "../widgets/lastfm.astro"
---

<Layout title="Code2Craft">
  <div slot="margin">
  </div>
  <div slot="big">
  <marquee scrollamount="6" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();" direction="right" class="buttonsm">
    <Wb />
  </marquee>
  <hr>
   <h2>About Me</h2>
            <img src="/media/gifs/catblinkie.gif" alt="cat blinkie" width="150" height="20">
            <p>Hi, Im Cris(aka Code2Craft) and this is my corner on the <strong>BIG</strong> World Wide Web. I like learning and coding in HTML and CSS, rarely coding in Python and Javascript. Also, I'm Romanian <img src="/media/gifs/roflag.gif" aria-label="romanian flag" height="13px" width="auto"></p>
                            <div class="thing1">
                    <h3 style="text-align: center; ">My Buttons:</h3>
                                <a href="https://code2craft.xyz"><img src="/media/buttons/b1.png" alt="Code2Craft dot xyz"></a>
            <textarea readonly><a href="https://code2craft.xyz" target="_blank"><img src="https://code2craft.xyz/media/buttons/b1.png" alt="Code2Craft dot xyz"></a></textarea>
            <br>
            <a href="https://code2craft.xyz"><img src="/media/buttons/b2.png" alt="Code2Craft dot xyz"></a>
            <textarea readonly><a href="https://code2craft.xyz" target="_blank"><img src="https://code2craft.xyz/media/buttons/b2.png" alt="Code2Craft dot xyz"></a></textarea>
            </div>
      <br>
      <div class="linething1">
			  <UpdateLogs />

      </div>
      </div>

			<style>
.linething {
    display: flex; 
    gap: 20px;  
}
.linething1 {
    display: flex; 
    gap: 20px;  
}


</style>
</Layout>