---
import Layout from "../layouts/posts.astro"
---

<Layout pt="Posts">
<div slot="side">
</div>

<div slot="big">
<h2>Leatest post:</h2>
<a href="/posts/test">
<h1>Test Post</h1>
<p>This is a Test Post</p>
</a>
</div>
</Layout>