<!DOCTYPE html>
<html>
    <head>
        <title>C2C-Webrings</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cris(aka Code2Craft)'s small corner on the web!">
        <meta name="robots" content="noai, noimageai">
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link href="/media/img/icon.png" rel="icon" type="image/x-icon" />
        <script src="/otherfiles/1.js" defer></script>
    </head>
    <body>
    <a href="/">Go Back Home</a>
            <h1>Webrings</h1>
        <pre><a href="https://webring.nomaakip.xyz/webring?name=code2craft&to=prev"><-- Previous</a>   <a href="https://webring.nomaakip.xyz">Swagring</a>   <a href="https://webring.nomaakip.xyz/webring?name=code2craft&to=next">Next --></a></pre>
        <pre><a href="https://baccyflap.com/noai/?prv&s=ctc"><-- Previous</a>   <a href="https://baccyflap.com/noai">No AI Webring</a>   <a href="https://baccyflap.com/noai/?rnd">Random</a>   <a href="https://baccyflap.com/noai/?nxt&s=ctc">Next --></a></pre>
        <pre><a href="https://webring.bucketfish.me/redirect.html?to=prev&name=code2craft"><-- Previous</a>   <a href="https://webring.bucketfish.me">Bucket Webring</a>   <a href="https://webring.bucketfish.me/redirect.html?to=random&name=code2craft">Random</a>   <a href="https://webring.bucketfish.me/redirect.html?to=next&name=code2craft">Next --></a></pre>
        <pre>
<a href="https://webring.hackclub.com/"id="previousBtn" title="Previous">‹--</a>   <a href="https://webring.hackclub.com/" title="Hack Club Webring" alt="Hack Club Webring">HackClub Webring</a>   <a href="https://webring.hackclub.com/" id="nextBtn" title="Next">--></a>
        </pre>
            <div id="personal-ring" data-id="1" class="dark">
            <script type="text/javascript" src="https://mattware.nekoweb.org/en/webrings/personalclub/js/widget.js"></script>
            </div>
            <link rel="stylesheet" href="https://mattware.nekoweb.org/en/webrings/personalclub/ring.css">
        <div id="webring-wrapper"></div>
        <script src="https://cdn.jsdelivr.net/gh/hackclub/webring@d8004260e67f17633af5a64b05ac17ff871a509f/public/embed.min.js"></script>
    </body>
</html>