@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

body,html {
    font-size: 12px;
    color: white;
    font-family: 'Open Sans', system-ui;
    font-weight: bold;
    background-color: black;
}

h1,h2,h3,h4,h5,h6 { 
    font-family: "Assistant", sans-serif;
}

a {
  color:lightblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
    display: flex;
    align-items: stretch;
}

.side {
    flex: 1;
}

.big {
    flex: 3;
}


.side , .big {
    border: 1px solid white;
    min-height: 100vh;
}


.item {
    border: 1px solid white;
}

hr {
    line-height: 1px;
    color: white;
}

.scroll1 {
    max-height: 82vh;
    overflow-y:auto;
    padding-left: 5px;
}



.links {
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

.side,.big {
        width: 100%;
        min-height: auto;
    }

}


.tamanotchis {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10px;
}

.neighbors {
    border: 1px solid white;
    padding: 10px;
}