@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

body,html {
    font-size: 12px;
    color: white;
    font-family: 'Open Sans', system-ui;
    font-weight: bold;
    background-color: black;
}

h1,h2,h3,h4,h5,h6 { 
    font-family: "Assistant", sans-serif;
}

a {
  color:lightblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
}

.side {
    flex: 1;
}

.big {
    flex: 3;
}

.side1 {
    flex: 1;

}

.side , .big , .side1 {
    border: 1px solid white;
    min-height: 100vh;
}


.item {
    border: 1px solid white;
}

hr {
    line-height: 1px;
    color: white;
}

.scroll1 {
    max-height: 82vh;
    overflow-y:auto;
    padding-left: 5px;
}

.big1 {
    flex: 3.5;
}

.side2 {
    flex: 0.5;

}

.side2 , .big1 {
    border: 1px solid white;
    min-height: 100vh;
    max-height:100vh;
    overflow-y:auto;
}

.links {
    font-size: 14px;
}
