            <footer>
                <hr>
                <p id="footer" class="footer">© year Code2Craft.xyz</p>
            </footer>
            <script>
              const currentYear = new Date().getFullYear();
              document.getElementById('footer').textContent = `© ${currentYear} Code2Craft.xyz`;
            </script>