<!DOCTYPE html>
<html>
    <head>
        <title>C2C | Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cris(aka Code2Craft)'s small corner on the web!">
        <meta name="robots" content="noai, noimageai">
        <link rel="stylesheet" type="text/css" href="/styles/style.css?v=1">
        <link href="/media/img/icon.png" rel="icon" type="image/x-icon" />
        <script src="/otherfiles/1.js" defer></script>
    </head>
    <body>
    <div class="announcement">
    <slot name="ann"/ >
    </div>
        <div class="container">
            <div class="side">
                <slot name="side" />
        
          </div>

        <div class="big">
            <slot name="big" />
          </div>

        <div class="side1">
        <slot name="side1" />
        </div>
    </body>
</html>