---
const { title } = Astro.props;
import Footer from "../layouts/footer.astro"
---
<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cris(aka Code2Craft)'s small corner on the web!">
        <meta name="robots" content="noai, noimageai">
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link href="/media/img/icon.png" rel="icon" type="image/x-icon" />
        <script src="/otherfiles/1.js" defer></script>
    </head>
    <body>
        <div class="bigthing">
              <div class="side">
                    <div class="links">
                    <a href="/">Home</a>
                    <a href="/contact">Contact</a>
                    <a href="/webrings">Webrings</a>
                    <a href="/guestbook">Guestbook</a>
                    <a href="/blog">Blog</a>
                </div>
                <style>
                .links a{
                    margin-bottom: 10px;
                    display: block;
                }
                .links {
                    margin-left:6px;
                }
                </style>
                <slot name="margin" />
          </div>

        <div class="mainthing">
            <slot name="big" />
            <Footer></Footer>
          </div>
    </body>
</html>