---
const { title } = Astro.props;
import Footer from "../layouts/footer.astro"
import Scw from "../widgets/status-cafe.astro"
import Discords from "../widgets/discord-s.astro"
import UpdateLogs from "../widgets/updatelog.astro"
import Lastfm from "../widgets/lastfm.astro"
---
<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cris(aka Code2Craft)'s small corner on the web!">
        <meta name="robots" content="noai, noimageai">
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link href="/media/img/icon.png" rel="icon" type="image/x-icon" />
        <script src="/otherfiles/1.js" defer></script>
    </head>
    <body>
        <div class="bigthing">
              <div class="side">
                    <div class="links">
                    <a href="/">Home</a>
                    <a href="/contact">Contact</a>
                    <a href="/webrings">Webrings</a>
                    <a href="/guestbook">Guestbook</a>
                    <a href="/blog">Blog</a>
                </div>
                <style>
                .links a{
                    margin-bottom: 10px;
                    display: block;
                }
                .links {
                    margin-left:6px;
                }
                </style>
                <slot name="margin" />
          </div>

        <div class="mainthing">
            <slot name="big" />
            <Footer></Footer>
          </div>

        <div class="side1">
  <div class="thing">
  <Lastfm />
  </div>
  				<Discords />
				<Scw />
                <div class="thing">
  <iframe src="https://www5.cbox.ws/box/?boxid=960653&boxtag=Sk1Das" width="100%" height="175" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>	
  </div>
        </div>
    </body>
</html>