<div class="online">
	<div class="discord">
		<p>According to my Discord status</p>
		<p id="status-details">loading...</p>
	</div>
</div>
<script>
/*Credit for script from: https://rice.place/*/
async function discordChecker() {
    try {
      const response = await fetch('https://api.lanyard.rest/v1/users/920617892444258305');
      const splingus = await response.json();
      document.getElementById("status-details").innerHTML = `
      I'm <strong>${splingus.data.discord_status}</strong>`
    } catch (error) {
      console.error("failed to fetch!!", error);
    }
};

discordChecker();
setInterval(discordChecker, 5000);
</script>
<style>
.online {
    background-color: #343333;
    padding: 6px;
    width: fit-content;
    border-color: white;
    border-style: dashed;
    border-radius: 10px;
}
</style>