<div class="log">
    <h3>Update Logs</h3>
    <ul>
    <li><strong>8.1.2026</strong>-Created New Button Replacing b1, Added My Buttons to Main Page and One New Button, Removed a Few Buttons</li>
    <li><strong>7.1.2026</strong>-Remade the Website Using Astro Framework, Changed the Sidebar, Main Page, 404 Page, Style, and More, Removed a Few Buttons</li>
    <li><strong>6.1.2026</strong>-Changed the Font Style</li>
    <li><strong>5.1.2026</strong>-Added Console Message, Status Cafe to Sidebar Removed Announcement Banner, Draw A Cat(Inactive) and Some Buttons, Changed The Style a Bit</li>
    <li><strong>4.1.2025</strong>-Removed Last Commit, Random Banned, Added Status Cafe Status To Announcement Banner</li>
    <li><strong>2.1.2026</strong>-Added Random Announcements</li>
    <li><strong>1.1.2026</strong>-Added Announcement on Main Page, Last Commit Date</li>
    <li><strong>30.12.2025</strong>-Added Sidebar on Main Page And Minor Changes</li>
    <li><strong>29.12.2025</strong>-Added Update Logs, Draw a Cat, Guestbook, Blog And a Few 88x31 Buttons Removed a Webring</li>
    <li>-----<strong>Update logs started(29 Dec 2025)</strong>-----</li>
    </ul>
</div>
<style>
.log {
  background-color: #343333;
  max-width: 450px;
    border-color: white;
    border-style: dashed;
    border-radius: 10px;
}

.log ul {
  max-height: 100px;
  overflow-y: auto; 
  padding-right: 5px; 
}

.log {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: white;
}

.log h3{
    font-size: 20px;
    text-align: center;
}
</style>