                    <a href='https://frizzbees.dev/' target="_blank"><img src='https://i.frizzbees.dev/lF4Cr7AY7xVk.png' alt="frizzbees.dev"></a>
                    <a href="https://max.nekoweb.org/" target="_blank"><img src="https://max.nekoweb.org/images/button.png" alt="max's apartment"></a>
                    <a href="https://nekoweb.org/" target="_blank"><img src="https://nekoweb.org/assets/buttons/button11.gif" alt="nekoweb"></a>
                    <a href="https://riri.my/" target="_blank"><img src="/media/buttons/oth/butt.gif" alt="rina"></a>
                    <a href="https://hellot.nekoweb.org/" target="_blank"><img src="https://hellot.nekoweb.org/assets/button.png" alt="HelloT Button" width="88" height="31" style="image-rendering: pixelated;" ></a>
                    <a href="https://supr.nekoweb.org/" target="_blank"><img class="small-button" src="https://supr.nekoweb.org/assets/button.png" alt="Supr Button" width="88" height="31" style="image-rendering: pixelated;"></a> 
                    <a href="https://zorrpu.com" target="_blank"><img src="https://zorrpu.com/stamps-etc/link-me/Zorrpu-button-Green-G.gif" width="88" height="31" style="image-rendering: pixelated;" alt="zorrpu com"></a> 
                    <a href="https://y2k.neocities.org" target="_blank"><img src="https://y2k.neocities.org/buttons/000%20Y2K%20NEOCITIES%20BUTTON%2001.png" width="88" height="31" style="image-rendering: pixelated;" alt="y2k neocities"></a> 
                    <a href="https://dimden.dev/" target="_blank"><img src="https://dimden.dev/images/88x31.gif" alt="dimden dev"></a>
                    <a href="https://meows.zip" target="_blank"><img src="https://meows.zip/meowszip.png" alt="meow zip"></a>
                    <a href="https://jbc.lol" target="_blank"><img src="https://jbc.lol/imgs/buttons/jbtn.svg" alt="jb's site" style="image-rendering: pixelated;"/></a>
                    <a href="https://adamngshrine.com/" target="_blank"><img src="https://media.adamngshrine.com/images/button.png" alt="button88x31"></a>
                    <a href="https://lexp.dev/" target="_blank"><img src="/media/buttons/oth/lexpdevimg.png" alt="lexp.dev website"></a>
                    <a href="https://pocketbroto.net/" target="_blank"><img src="https://pocketbroto.net/pocketbroto.png" alt="pocketbroto net"></a>
                    <a href="https://ashk.au" target="_blank"> <img src="https://ashk.au/wp-content/button.gif" alt="Ash Kyd" style="image-rendering: pixelated;"></a>
                    <a href="https://raccoonbutt.com" target="_blank"><img src="https://raccoonbutt.com/static/raccoonbutt.gif"></a>
                    <a href="https://satorikeiko.nekoweb.org/" target="_blank"><img src="https://satorikeiko.nekoweb.org/88x31.png"></a>
                    <a href="https://psfla.net/" target="_blank"><img src="https://psfla.net/resc/img/psflabutton.png" alt="PSFLA button"></a>
                    <a href="https://tagasa.ing/" target="_blank"><img style="image-rendering: pixelated;" src="https://tagasa.ing/saing.gif" alt="tagasaing"></a>
                    <a href="https://lucastheguy.nekoweb.org/" target="_blank"><img src="https://lucastheguy.nekoweb.org/images/button.gif"></a>
                    <a target="_blank" href="https://webmasterwebring.netlify.app"><img src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/btn.png" width="88" height="31"></a>
                    <a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a>
                    <a href="https://yel1low.neocities.org/" target="_blank"><img src="https://yel1low.neocities.org/image%20storage/yel1lowbutton1.jpg" alt="Yel1low.neocities.org"></a>
                    <a href="https://hekate.neocities.org/" target="_blank"><img src="https://hekate.neocities.org/images/button.png" alt="Hekate.neocities.org"></a>
                    <a href="https://hello-room.neocities.org/"><img title="Hello Room" src="https://hello-room.neocities.org/button.gif"></a>
                    <a href="https://natu.moe" target="_blank"><img src="https://natu.moe/img/natumoe.gif"></a>
                    <a href="https://caby.neocities.org/cat/" target="_blank"><img src="https://caby.neocities.org/cat/plsdrawacat.gif"></a>
                    <a href="https://rice.place/" target="_blank"><img src="https://rice.nekoweb.org/button/riceus.gif"></a>
                    <a href="https://exclave.city/" target="_blank"><img src="https://exclave.city/images/button1.gif" alt=Exclave></a>
                    <a href="https://ninacti0n.art" target="_blank"><img src="/media/buttons/oth/ninacti0nart.gif"></a>
                    <a href="https://allium.house/" target="_blank"><img src="/media/buttons/oth/alium.png"></a>
                    <a href="https://evehibi.nekoweb.org/" target="_blank"><img src="https://evehibi.nekoweb.org/button1.gif" alt="evehibi"/></a>
                    <a href="https://mars.nekoweb.org/?button" target="_blank"><img src="https://mars.nekoweb.org/assets/buttons/button0.gif" alt="mars' site" width="88" height="31"></a>
                    <a href="https://ghostk.id/?ref=button" target="_blank"><img src="https://ghostk.id/i/88x31.gif" width="88" height="31" alt="https://ghostk.id button"></a>
                    <a href="https://seirdy.one/"><img width="88" height="31" src="https://seirdy.one/sticker_88x31.png" alt="Square icon of a colon and semicolon, next to the word “Seirdy”."/></a>
                    <a href="csarhere.nekoweb.org" target="_blank"><img src="https://file.garden/Z5Z-kQ95ETioG568/csarhereNEWEST25button.png" alt="csarhere button"></a>
                    <a href="https://meowzone.nekoweb.org" target="_blank"><img src="https://meowzone.nekoweb.org/images/gif-pb/88x31.gif" alt="meowzone nekoweb"></a>
                    <a href="https://terakun.nekoweb.org/" target="_blank"><img src="https://terakun.nekoweb.org/img/buttons/ricex31.gif" alt="terajun nekoweb"></a>
                    <a href="https://nomaakip.xyz" target="_blank"><img src="https://nomaakip.xyz/img/buttons/button2.png" alt="button" title="nomaakip dot xyz"></a>
                    <a href="https://wiggle.monster" target="_blank"><img loading="lazy" src="https://wiggle.monster/button.gif" style="image-rendering: pixelated;" alt="Visit WiiCHiCKEN's website"></a>
                    <a href="https://buttons.nekoweb.org/" target="_blank"><img alt="Neko Buttons" src="https://buttons.nekoweb.org/img/nekobuttons.png"></a>
                    <a href="https://oversurge.nekoweb.org" target="_blank"><img src="https://oversurge.nekoweb.org/osvbtnanim.gif" style="width: 88px; height: 31px;" title="- Brilliant lightning flashes forth -" alt="oversurge nekoweb"></a>
                    <a href="https://sleepycircus.neocities.org/" target="_blank"><img src="https://sleepycircus.neocities.org/button.gif" alt="sleepycricus neocities"></a>
                    <a href="https://marsh.nekoweb.org" target="_blank"><img src="/media/buttons/oth/marshnw-button.png" alt="marsh nekoweb"></a>
                    <a href="https://www.31a05b.net" target="_blank"><img width=88 height=31 src="https://www.31a05b.net/a/8831/31a05b.png" alt="rings of particles around disc; cat emoticons"></a>
                    <a href="https://test.31a05b.net/ipvx.html" target="_blank"><img width=88 height=31 src="https://test.31a05b.net/ipvx-quiet.gif" alt="test 31a05b net"></a>
                    <a href="https://abbie.moe" target="_blank"><img src="/media/buttons/oth/abbiemoe.png" alt="abbie.moe"></a>
                    <a href="https://duck.fyi" target="_blank"><img src="https://duck.fyi/buttons/88x31.gif" alt="duck.fyi"></a>
                    <a href="https://olliveen.neocities.org/" target="_blank"><img src="https://olliveen.neocities.org/img/button2.jpg" alt="olliveen neocities"></a>
                    <a href="https://leizy8499.neocities.org/" target="_blank"><img src="https://leizy8499.neocities.org/buttons/LEIZY8499.jpeg" alt="leizy8499 neocities"></a>
                    <a href="https://lostlove.neocities.org/" target="_blank"><img src="https://lostlove.neocities.org/images/button.gif" alt="lostlove neocities"></a>
                    <a href="https://ribo.zone/" target="_blank"><img src="https://ribo.zone/88x31/site/ribose.png" alt="ribo.zone"></a>
                    <a href="https://denpagirl.nekoweb.org" target="_blank"><img src="https://denpagirl.nekoweb.org/dgbutton.gif" alt="Denpagirl" title="Denpagirl"></a>
                    <a href="https://scenetalia.nekoweb.org" target="_blank"><img src="https://scenetalia.nekoweb.org/button.gif" alt="scenetalia nekoweb"></a>
                    <a href="https://lynx.fail" target="_blank"><img src="https://lynx.fail/assets/lynx.png" width="88" height="31" alt="lynx.fail"></a>
                    <a href="https://status.cafe" target="_blank"><img src="https://status.cafe/assets/button.png" alt="Status Cafe"/></a>
                    <a href="https://medjed.nekoweb.org/" target="_blank"><img src="https://medjed.nekoweb.org/assets/images/button.jpg" alt="Medjed"></a>
                    <a href="https://duducat.moe/" target="_blank"><img src="/media/buttons/oth/duducat.gif" alt="Duducat.moe"></a>
                    <a href="https://mouseling.net" target="_blank"><img src="/media/buttons/oth/mouseling.gif" alt="mouseling.net"></a>
                    <a href="https://dog-house.neocities.org" target="_blank"><img src="https://dog-house.neocities.org/images/site-buttons/mine/dh-button2.gif" alt="dog-house"></a>
                    <a href="https://loveberry.nekoweb.org/" target="_blank"><img src="https://loveberry.nekoweb.org/assets/images/loveberry2.gif" alt="loveberry nekoweb"></a>
                    <a href="https://code2craft.xyz" target="_blank"><img src="/media/buttons/b2.png" alt="Code2Craft dot xyz"></a>
                    <a href="https://prplvlpn.neocities.org/" target="_blank"><img src="https://prplvlpn.neocities.org/img/button.png" alt="Kay"></a>
                    <a href="https://cerealandchoccymilk.neocities.org/" target="_blank"><img src="https://file.garden/ZbpUQD2lT2-4iaij/choccy88.gif" alt="cerealland neocities"></a>
                    <a href="https://3maqi.neocities.org" target="_blank"><img src="https://3maqi.neocities.org/images/buttons/3maqi_animated.gif" alt="2maqi nekoweb"></a>
                    <a href="https://glassy-website.nekoweb.org" target="_blank"><img src="https://glassy-website.nekoweb.org/Button.png" alt="glassy-website nekoweb"></a>
                    <a href="https://angelinmyhead.nekoweb.org/" target="_blank"><img src="https://dl.dropbox.com/scl/fi/oywze0923d21xbdgh2hve/barcodeaimh.gif?rlkey=vp91ch8orfjcc45e92rtpy2if&st=ohoawsnr&raw=1" alt="angelinmyhead.nekoweb.org"></a>
                    <a href="https://dispherical.com" target="_blank"><img src="https://cdn.dispherical.com/88x31.png" alt="dispherical.com"></a>
                    <a href="https://buddywinte.nekoweb.org/" target="_blank"><img src="https://buddywinte.nekoweb.org/button.png" alt="buddywinte.nekoweb.org"></a>
                    <a href='https://blinkies.cafe' target='_blank'><img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'></a>
                    <a href="https://azarma.neokoweb.org/" target="_blank"><img src="/media/buttons/oth/azarmabtt.png" alt="azarma.neocities.org"></a>
                    <a href="https://peachmoon.moe"><img src="https://peachmoon.moe/img/peachmoon.gif" loading="lazy"></a>
                    <a href="https://notbyai.fyi/" target="_blank"><img src="/media/img/Createdbyhuman.png" alt="Created by Human" width="88" height="31"></a>
                    <a href="https://ari.lt/" title="ari-web badge" aria-label="Visit ari-web" rel="noopener noreferrer" target="_blank"> <img src="https://ari.lt/badge.png" loading="lazy" alt="ari-web badge" height="31" width="88" /> </a>
                    <a href="https://archi.moe/homepage" alt="archi.lt button" target="_blank"><img src="https://archi.moe/images/button.png"></a>